
@font-face {
    font-family: '8bitoperator';
    src: url('./assets/Font Iterate/8bitoperator.ttf');
}

img{
    rotate: 0;
    animation: rotating 3s linear infinite;
}

@keyframes rotating {
    0%{
        /* rotate: 0; */
        
    }

    100%{
        transform: rotate(360deg);
    }
    
}



body{
    background-color: black;
    font-family: '8bitoperator';

    flex-direction: column;
    align-items: center;
    text-align: center;
}

#center-container{
    position: relative;
    background-color: black;
    

    top: 20vh;
}

#top-container{
    position: relative;
    
    background-color: black;
}

#middle-container{
    position: relative;

    left: 2%;

    height: 15vh;
    width: 90vw;

    border-style: solid;
    border-width: 0.3rem;
    border-color: white;

    background-color: black;

    /*overflow*/
    overflow-x: hidden;
    overflow-y: scroll;
    /*hide scroll bar: firefox & IE*/
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

/*Chrome 和 Safari 隱藏滾動條*/
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

#bottom-container{
    position: relative;
    background-color: transparent;
    /* font-size: 2rem; */
    display: inline-block;
    

}


.text{
    color: white;
}


.button{

    font-family: '8bitoperator';

    height: 4rem;
    width: 8rem;
    background-color: black;
    color: #E67E22;
    border: solid;
    border-width: 0.3rem;
    font-size: large;
}

.button:hover{
    color: yellow;
}





