@font-face {
    font-family: 'Cascadia-Code';
    src: url('./CascadiaMono-Regular.otf');
}

.console-box {
    /*Position and sizing*/
    width: auto;
    height: 94vh;

    background-color: black; /*背景顏色*/
    
    /*padding*/
    padding: 1em 2em;
    /*overflow*/
    overflow-x: hidden;
    overflow-y: scroll;
    /*隱藏scroll bar: firefox & IE*/
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    /*hover動畫*/
    transition: all 0.3s ease 0s;
    /*blur*/
    filter:blur(2px);
}

.console-box:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
}

#console-text-entry {
    border: none;
    background-color: black;
    color: white;
    padding: 0%;
    width: 50%;
}

input:focus {
    outline: none;
}


.cmd-text {
    color: white;
    font-family: "Cascadia-Code";
    font-size: 1rem;
}

.cmd-link {
    color: gray;
    transition: all 0.3s ease 0s;
}

.cmd-link:hover {
    transition: all 0.3s ease 0s;
    color: rgb(211, 211, 211);
}


/*Chrome 和 Safari 隱藏滾動條*/
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

