@font-face {
    font-family: 'Cascadia-Code';
    src: url('./CascadiaMono-Regular.otf');
}

@font-face {
    font-family: 'CascadiaMono-Bold';
    src: url('./CascadiaMono-Bold.otf');
}

#upper-white-canvas{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 13%;
    transition: all 0.3s ease 0s;
}

#upper-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
}

.upper-heading{
    font-family: "Cascadia-code";
    
    opacity: 100%;
    color: white;
    /*align*/
    
    text-align: center;
    font-size: xx-large;
}

#upper-center-container{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#contacts-container{
    position: relative;
    /* background-color: red; */
    
    /* center, horizonally put its child nodes */
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    left: 50%;
    top:50%;
    width: 300px;
    height: 80px;
    transform: translate(-50%,0%);
    
}

.circle-container{
    height: fit-content;
    width: fit-content;
    border-radius: 100%;
    transition: all 0.3s ease 0s;
}

.circle-container:hover {
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.603);
    transition: all 0.3s ease 0s;
}

.circle{
    position: relative;
    background-color: white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    opacity: 30%;
    transition: all 0.3s ease 0s;
}


.icon{
    position: absolute;
    fill: #ffffff;
    opacity: 100%;
    height: 2.8em;
    width: 2.8em;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease 0s;
}


#linkedin-icon{
    top:38%;
    left: 25%;
}

#github-icon{
    top:38%;
    left: 50%;
}

#email-icon{
    top:38%;
    left: 75%;
}


#terminal-switcher{
    font-family: "Cascadia-code";
    position: absolute;
    bottom:8%;
    right:8%;

    height: 5rem;
    width: 5rem;

    border: none;
    border-radius: 100%;
    background-color:white;
    opacity: 40%;

    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.774);

    transition: all 0.3s ease 0s;

}

#build-with-technology{
    color: white;
}

