@font-face {
    font-family: 'Cascadia-Code';
    src: url('./assets/CascadiaMono-Regular.otf');
}

@font-face {
    font-family: 'CascadiaMono-Bold';
    src: url('./assets/CascadiaMono-Bold.otf');
}

@font-face{
    font-family: 'CascadiaMonoPL-BoldItalic';
    src: url('./assets/CascadiaMonoPL-BoldItalic.otf');
}

/* Font interation effect */

@font-face{
    font-family: 'PlayfairDisplay-BlackItalic';
    src: url('./assets/Font Iterate/PlayfairDisplay-BlackItalic.ttf');
}
@font-face{
    font-family: 'PlayfairDisplay-ExtraBold';
    src: url('./assets/Font Iterate/PlayfairDisplay-ExtraBold.ttf');
}
@font-face{
    font-family: 'PlayfairDisplay-Italic';
    src: url('./assets/Font Iterate/PlayfairDisplay-Italic.ttf');
}
@font-face{
    font-family: 'Roboto-BlackItalic';
    src: url('./assets/Font Iterate/Roboto-BlackItalic.ttf');
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url('./assets/Font Iterate/Roboto-Bold.ttf');
}
@font-face{
    font-family: 'Roboto-ThinItalic';
    src: url('./assets/Font Iterate/Roboto-ThinItalic.ttf');
}

#upper-white-canvas{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 13%;
    transition: all 0.3s ease 0s;
}

#upper-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
}

.upper-heading{
    font-family: "Cascadia-code";
    
    opacity: 100%;
    color: white;
    /*align*/
    
    text-align: center;
    font-size: 2rem;
    
}

#upper-center-container{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#contacts-container{
    position: relative;
    /* background-color: red; */
    
    /* center, horizonally put its child nodes */
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    left: 50%;
    top:50%;
    width: 300px;
    height: 80px;
    transform: translate(-50%,0%);
    
}

.circle-container{
    height: fit-content;
    width: fit-content;
    border-radius: 100%;
    transition: all 0.3s ease 0s;
}

.circle-container:hover {
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.603);
    transition: all 0.3s ease 0s;
}

.circle{
    position: relative;
    background-color: white;
    border-radius: 100%;
    width: 3.4rem;
    height: 3.4rem;
    opacity: 30%;
    transition: all 0.3s ease 0s;
}


.icon{
    position: absolute;
    fill: #ffffff;
    opacity: 100%;
    height: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease 0s;
}


#linkedin-icon{
    top: 35%;
    left: 27%;
}

#github-icon{
    top:35%;
    left: 50%;
}

#email-icon{
    top:35%;
    left: 73.5%;
}


#terminal-switcher{
    font-family: "Cascadia-code";
    position: absolute;
    bottom:8%;
    right:8%;

    height: 5rem;
    width: 5rem;

    border: none;
    border-radius: 100%;
    background-color:white;
    opacity: 70%;

    box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.774);

    transition: all 0.3s ease 0s;

}

#build-with-prompt{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#build-with-technology{
    color: white;
}

#fun{
    color: white;
    /* filter:blur(1px); */
}

#fun-1{
    font-family: "CascadiaMonoPL-BoldItalic";
    /* color:aqua; */
}



/* font iteration animation */

@keyframes font-iteration{

    10%{
        font-family: "Cascadia-Code";
    }
    20%{
        
        font-family: "Roboto-ThinItalic";
    }
    30%{
        font-family: "CascadiaMonoPL-BoldItalic";
    }
    40%{
        font-family: "PlayfairDisplay-BlackItalic";
    }
    50%{
        font-family: "Roboto-Bold";
    }
    60%{
        font-family: "PlayfairDisplay-Italic";
    }
    70%{
        font-family: "Roboto-BlackItalic";
    }
    80%{
        font-family: "PlayfairDisplay-ExtraBold";
    }
    90%{
        font-family: "CascadiaMono-Bold";
    }
    100%{
        
    }

}

/*
    list of fonts (9)

    Cascadia-Code
    CascadiaMono-Bold
    CascadiaMonoPL-BoldItalic

    PlayfairDisplay-BlackItalic
    PlayfairDisplay-ExtraBold
    PlayfairDisplay-Italic
    Roboto-BlackItalic
    Roboto-Bold
    Roboto-ThinItalic
*/
