@font-face {
    font-family: 'Cascadia-Code';
    src: url('./assets/CascadiaMono-Regular.otf');
}

@font-face {
    font-family: 'CascadiaMono-Bold';
    src: url('./assets/CascadiaMono-Bold.otf');
}

@font-face{
    font-family: 'CascadiaMonoPL-BoldItalic';
    src: url('./assets/CascadiaMonoPL-BoldItalic.otf');
}

/* Font interation effect */

@font-face{
    font-family: 'PlayfairDisplay-BlackItalic';
    src: url('./assets/Font Iterate/PlayfairDisplay-BlackItalic.ttf');
}
@font-face{
    font-family: 'PlayfairDisplay-ExtraBold';
    src: url('./assets/Font Iterate/PlayfairDisplay-ExtraBold.ttf');
}
@font-face{
    font-family: 'PlayfairDisplay-Italic';
    src: url('./assets/Font Iterate/PlayfairDisplay-Italic.ttf');
}
@font-face{
    font-family: 'Roboto-BlackItalic';
    src: url('./assets/Font Iterate/Roboto-BlackItalic.ttf');
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url('./assets/Font Iterate/Roboto-Bold.ttf');
}
@font-face{
    font-family: 'Roboto-ThinItalic';
    src: url('./assets/Font Iterate/Roboto-ThinItalic.ttf');
}

#upper-white-canvas{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 13%;
    transition: all 0.3s ease 0s;
}

#upper-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
}

.upper-heading{
    font-family: "Cascadia-code";
    
    opacity: 100%;
    color: white;
    /*align*/
    
    text-align: center;
    font-size: 2rem;
    
}

#upper-center-container{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#build-with-prompt{
    position: relative;
    top: 0.5em;
    left: 50%;
    transform: translate(-50%,-50%);
}

#build-with-technology{
    color: white;
}

#fun{
    color: white;
    /* filter:blur(1px); */
}

#fun-1{
    font-family: "CascadiaMonoPL-BoldItalic";
    color:rgb(177, 255, 255);
}

#font-loader{
    visibility: hidden;
    animation: font-iteration 1s linear;
}


#contacts-container{
    position: relative;
    /* background-color: red; */
    
    /* center, horizonally put its child nodes */
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    left: 50%;
    top:50%;
    width: 300px;
    height: 80px;
    transform: translate(-50%,0%);
    
}


.icon{
    height: 3.4rem;
    width: 3.4rem;
    transition: all 0.3s ease 0s;
}

.icon:hover{
    filter: drop-shadow(2px 7px 10px rgba(0, 0, 0, 1));
    transform: translate(0%,-5%);
}

#linkedin-icon{
    top: 35%;
    left: 27%;
}

#github-icon{
    top:35%;
    left: 50%;
}

#email-icon{
    top:35%;
    left: 73.5%;
}


#terminal-switcher{
    font-family: "Cascadia-code";
    position: absolute;
    bottom:8%;
    right:8%;

    height: 5rem;
    width: 5rem;

    border: none;
    border-radius: 100%;
    background-color:white;
    opacity: 70%;

    box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.774);

    transition: all 0.3s ease 0s;

}




/* font iteration animation */

@keyframes font-iteration{
    0%{
        color: white;
        font-family: "Cascadia-code";
    }

    10%{
        font-family: "Cascadia-Code";
    }
    20%{
        
        font-family: "Roboto-ThinItalic";
    }
    30%{
        font-family: "CascadiaMonoPL-BoldItalic";
    }
    40%{
        font-family: "PlayfairDisplay-BlackItalic";
    }
    50%{
        font-family: "Roboto-Bold";
    }
    60%{
        font-family: "PlayfairDisplay-Italic";
    }
    70%{
        font-family: "Roboto-BlackItalic";
    }
    80%{
        font-family: "PlayfairDisplay-ExtraBold";
    }
    90%{
        font-family: "CascadiaMono-Bold";
    }
    100%{
        font-family: "CascadiaMonoPL-BoldItalic";
        color:rgb(177, 255, 255);
    }

}

/*
    list of fonts (9)

    Cascadia-Code
    CascadiaMono-Bold
    CascadiaMonoPL-BoldItalic

    PlayfairDisplay-BlackItalic
    PlayfairDisplay-ExtraBold
    PlayfairDisplay-Italic
    Roboto-BlackItalic
    Roboto-Bold
    Roboto-ThinItalic
*/




/* Glitching Effect --------------------*/
/* from codepen: https://codepen.io/toperrr/pen/KKqMRjw */

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
    position: relative;
    /* color: white; */
    /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  .glitch::after {
    filter:blur(0.5px);
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
  
  
  /* Creates an animation with 20 steaps. For each step, it calculates 
  a percentage for the specific step. It then generates a random clip
  box to be used for the random glitch effect. Also adds a very subtle
  skew to change the 'thickness' of the glitch.*/
  @keyframes glitch-anim {
    0% {
      clip: rect(14px, 9999px, 50px, 0);
      transform: skew(0.71deg);
    }
    5% {
      clip: rect(34px, 9999px, 73px, 0);
      transform: skew(0.21deg);
    }
    10% {
      clip: rect(34px, 9999px, 82px, 0);
      transform: skew(0.9deg);
    }
    15% {
      clip: rect(3px, 9999px, 74px, 0);
      transform: skew(0.41deg);
    }
    20% {
      clip: rect(100px, 9999px, 54px, 0);
      transform: skew(0.52deg);
    }
    25% {
      clip: rect(74px, 9999px, 67px, 0);
      transform: skew(0.52deg);
    }
    30% {
      clip: rect(92px, 9999px, 75px, 0);
      transform: skew(0.58deg);
    }
    35% {
      clip: rect(5px, 9999px, 67px, 0);
      transform: skew(0.72deg);
    }
    40% {
      clip: rect(85px, 9999px, 14px, 0);
      transform: skew(0.73deg);
    }
    45% {
      clip: rect(60px, 9999px, 18px, 0);
      transform: skew(0.11deg);
    }
    50% {
      clip: rect(5px, 9999px, 28px, 0);
      transform: skew(0.93deg);
    }
    55% {
      clip: rect(74px, 9999px, 95px, 0);
      transform: skew(0.82deg);
    }
    60% {
      clip: rect(55px, 9999px, 6px, 0);
      transform: skew(0.52deg);
    }
    65% {
      clip: rect(92px, 9999px, 51px, 0);
      transform: skew(0.83deg);
    }
    70% {
      clip: rect(6px, 9999px, 10px, 0);
      transform: skew(0.76deg);
    }
    75% {
      clip: rect(76px, 9999px, 95px, 0);
      transform: skew(0.39deg);
    }
    80% {
      clip: rect(14px, 9999px, 41px, 0);
      transform: skew(0.43deg);
    }
    85% {
      clip: rect(43px, 9999px, 56px, 0);
      transform: skew(0.65deg);
    }
    90% {
      clip: rect(50px, 9999px, 12px, 0);
      transform: skew(0.22deg);
    }
    95% {
      clip: rect(86px, 9999px, 45px, 0);
      transform: skew(0.98deg);
    }
    100% {
      clip: rect(72px, 9999px, 100px, 0);
      transform: skew(0.03deg);
    }
  }
  @keyframes glitch-anim2 {
    0% {
      clip: rect(61px, 9999px, 51px, 0);
      transform: skew(0.01deg);
    }
    5% {
      clip: rect(65px, 9999px, 93px, 0);
      transform: skew(0.09deg);
    }
    10% {
      clip: rect(7px, 9999px, 90px, 0);
      transform: skew(0.88deg);
    }
    15% {
      clip: rect(49px, 9999px, 68px, 0);
      transform: skew(0.82deg);
    }
    20% {
      clip: rect(56px, 9999px, 9px, 0);
      transform: skew(0.46deg);
    }
    25% {
      clip: rect(10px, 9999px, 93px, 0);
      transform: skew(0.15deg);
    }
    30% {
      clip: rect(57px, 9999px, 36px, 0);
      transform: skew(0.84deg);
    }
    35% {
      clip: rect(83px, 9999px, 27px, 0);
      transform: skew(0.3deg);
    }
    40% {
      clip: rect(77px, 9999px, 35px, 0);
      transform: skew(0.81deg);
    }
    45% {
      clip: rect(50px, 9999px, 81px, 0);
      transform: skew(0.72deg);
    }
    50% {
      clip: rect(97px, 9999px, 4px, 0);
      transform: skew(0.86deg);
    }
    55% {
      clip: rect(34px, 9999px, 18px, 0);
      transform: skew(0.9deg);
    }
    60% {
      clip: rect(40px, 9999px, 60px, 0);
      transform: skew(0.41deg);
    }
    65% {
      clip: rect(25px, 9999px, 19px, 0);
      transform: skew(0.31deg);
    }
    70% {
      clip: rect(68px, 9999px, 61px, 0);
      transform: skew(0.74deg);
    }
    75% {
      clip: rect(33px, 9999px, 5px, 0);
      transform: skew(0.2deg);
    }
    80% {
      clip: rect(70px, 9999px, 45px, 0);
      transform: skew(0.6deg);
    }
    85% {
      clip: rect(50px, 9999px, 13px, 0);
      transform: skew(0.69deg);
    }
    90% {
      clip: rect(24px, 9999px, 55px, 0);
      transform: skew(0.6deg);
    }
    95% {
      clip: rect(25px, 9999px, 83px, 0);
      transform: skew(0.26deg);
    }
    100% {
      clip: rect(44px, 9999px, 67px, 0);
      transform: skew(0.91deg);
    }
  }
  @keyframes glitch-skew {
    0% {
      transform: skew(-1deg);
    }
    10% {
      transform: skew(-2deg);
    }
    20% {
      transform: skew(1deg);
    }
    30% {
      transform: skew(3deg);
    }
    40% {
      transform: skew(-2deg);
    }
    50% {
      transform: skew(-1deg);
    }
    60% {
      transform: skew(0deg);
    }
    70% {
      transform: skew(-3deg);
    }
    80% {
      transform: skew(2deg);
    }
    90% {
      transform: skew(3deg);
    }
    100% {
      transform: skew(2deg);
    }
    
  }
  
  