---
import BaseLayout from '../layouts/BaseLayout.astro'
import HeroSection from '../components/hero/HeroSection.astro'
---

<BaseLayout active="home">
  <main>
    <HeroSection />
  </main>
</BaseLayout>
