---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.astro'
import HeroSection from '../components/hero/HeroSection.astro'
import ProjectsSection from '../components/projects/ProjectsSection.astro'
import ValleyScene from '../components/valley/ValleyScene.astro'
import Footer from '../components/Footer.astro'
---

<BaseLayout>
  <Header active="home" />
  <main>
    <HeroSection />
    <ProjectsSection />
    <ValleyScene />
  </main>
  <Footer />
</BaseLayout>
